header {
    background:url(highskoolautomobilebackground.jpg);   
  }

  nav, ul{
  background:url(highskoolautomobilebackground.jpg);
}

footer { 
    background:url(highskoolautomobilebackground.jpg);
}

.nav_quick_links {
    background:url(unnamed.jpg);


}
  