
* {
    margin:0%;
    padding: 0%;
    font-family: 'Lobster', cursive;
}

.game {
    background: url(images/carpet_grass_2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hide {
    display:none;
}

.startScreen {
    background: rgb(43, 205, 226);
    border-bottom: 2px solid rgb(132, 197, 197);
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align:center;
    top:50%;
    left: 50%;
    width:500px;
    height: 70px;
    line-height: 12px;
    cursor: pointer;
}

.gameArea {
    background: rgb(12, 12, 12);
    height:100vh;
    width:400px;
    margin:auto;
    position: relative;
    overflow: hidden;
    border-left: 12px dashed white;
    border-right: 12px dashed white;
}


.car {
    background: url(images/player.png);
    width:48px;
    height:75px;
    position: absolute;
    top: 520px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 


.Opponents { 
    background: url(images/opponet/opponet.jpg);
    width:48px;
    height:75px;
    position: absolute;
    top: 520px;
    background-repeat: no-repeat;   
    background-size: 100% 100%;
} 


.roadLines {
   height: 100%;
   width: 8px;
   border: 2px dashed white;
   background: white;
   margin: 195px;
   position: absolute; 
} 